body{
  width: 800px;
  margin: 0 auto;
}

header{
  text-align: center;
  color: white;
  background-color: rgb(129, 6, 6);
}

.firstBlock img, .secondBlock img{
  border: 3px dashed black;
  margin: 8px 1px;
}

.firstBlock{
  display: flex;
  justify-content: center;
}

.secondBlock{
  padding-left: 200px;
}

.secondBlock img{
  float:left;
}

.clear{
  clear: both;
}

footer{
  text-align: center;
  color: white;
  background-color: black;
}