/**{*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/

body{
  background-color: #961b10;
  color: white;
}

.title{
text-align: center;
}

.menu{
  box-sizing: border-box;
  padding: 20px 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 230px;
  box-sizing: border-box;
  text-align: center;
}

.menu img{
  height: 180px;
}

.menu p{
  text-decoration: none;
  color: white;
}

.mainContent{
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
}

.navigation{
  width: 300px;
  background-color: #67120b;
}

.navigation nav{
  display: flex;
  flex-direction: column;
}

.navigation nav a{
  color: #ff6932;
  margin: 10px 0;
}

.article{
  width: 1000px;
}

.preview {
  color: black;
  width: 200px;
  background-color: #d4cfcd;
}

.preview h4{
  background-color: #9e9a98;
  margin: 0;
  text-align: center;
}

.border{
  border-width: 20px;
  border-top: 1px solid black;
}

footer{
  margin: 20px 0;
  background-color: #ff6932;
  text-align: center;
}



